/Day1P1/build/
/Day 3/nbproject/private/
/Day 3/build/
/Day 6/nbproject/private/
/Day 6/build/
/Day 7/nbproject/private/
/Day 7/build/
/Day 8/nbproject/private/
/Day 8/build/
/Day 8 Part 2/nbproject/private/
/Day 8 Part 2/build/
/Day 9 Part 2/nbproject/private/
/Day 9 Part 2/build/
/Day 10/nbproject/private/
/Day 10/build/